
body{
  font-family: 'Montserrat-semi', sans-serif ;
}
#title{
  background: linear-gradient(to top, #766df4 , #e66465);
}
.top-font{
  color:#fff;
  font-family: 'Lato', sans-serif;
  text-shadow:4px 0 4px #000;
  font-size: 4rem;
  padding: 30px 0;
  line-height: 1.5;
}
.mid-h3{
 font-size: 2.5rem;
 margin-top: 150px;
 font-weight: 700;
 color: #fff;
 margin-left: 20px;
}
.mid-p{
  color: #FFF;
  font-family: sans-serif;
  font-size: 1.1rem;
  margin-top: 15px;
  margin-left: 20px;
}
.txt-btn{
  margin: 30px 20px;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 10px 15px;
  background-color: rgba(255,255,255,0.08);
  border: none;
  border-radius: 10px;
  color: #fff;
}
.txt-btn:hover{
  background: #fff;
  color:#343a40;
}

.container-fluid{
  padding: 8% 2% 7% 5%;
}
.btn1:hover{
  background: none;
  color: #343a40;
}
.btn2:hover{
  background: none;
  color: #fff;
}

.navbar{
 background-color: #fff;
}
.navbar-brand{
font-size: 2.4rem;
font-family: 'Lato', sans-serif;
color: #616a74;
}
.nav-item{
  padding:0 10px 0 10px;
}
.font-img{
 height: 380px;
 margin-top: 70px;
 margin-bottom: 100px;

}
.navbar-toggler-icon{
  font-size: 1.3rem;
  color: #343a40;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #766df4;
}
.navbar-toggler:focus{
  box-shadow:0 0 7px #766df4;
  outline: none;
}
.navbar-nav{
  margin-left: 150px;
}
.nav-link{
  display: inline-block;
  font-size: 1.2rem;
  color: #616a74;
  font-weight: bold;
}
.nav-link:hover{
  color: #766df4;
}
.amz-logo{
 width: 70px;
}
#apple,#gplay{
  font-size: 25px;
}
#top-btn{
  background-color: #766df4;
  border-radius: 5px;
  color: #fff;
 }
 #top-btn:hover{
   box-shadow: 0 0 5px #766df4;
 }
 #top-btn:focus{
  background: #fff;
   color: #766df4;
   border: 1px solid #766df4;
 }
 .carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}
 


     /* middle container */
     
#features{
 margin: 10% 10%;
}

#icon .work{
  font-size: 7rem;
  color:  #e66465;
}
#icon .work:hover{
  color: #766df4;
}
#icon{
  text-align: center;
   padding: 25px 0;
}
#icon h3{
 font-weight: 800;
 padding-top: 15px;
}
#icon p{
width: 70%;
margin: auto;
color: #8f8f8f;
}

/* testimonial*/

#testimonials{
 background: linear-gradient(to right, #766df4 0%, #e66465 100%);
 padding: 5% 0;
 
}
.trust-h1{
  text-align: center;
  font-weight: 900;
  color: #fff;
  margin-bottom: 100px;
}
.ratings{
  height: 320px;
  margin: auto;
  width: 800px;
}
.box-txt{
  display: inline-block;
  margin: 10px 0 20px 15px;
}
.box-h3{
  color: rgb(238, 237, 237);
  font-weight: bold;
}
.box-p{
  font-size: 1.5rem;
  padding: 2% 3%;
}
.rate-img{
  width: 150px;
  border-radius: 100%;
  margin-left: 15px;
}
.box-star{
  color: #ffb15c;
  font-size: 1.2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

      /* pricing */


#pricing{
  padding: 7% 7%;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #8f8f8f;
}
.pric-card{
  padding-top: 40px;
 
}
.card{
  width: 90%;
  margin: auto;
}
#pricing h2{
  font-size: 3rem;
  font-weight: bold;
  color: #343a40;
}
#pricing h3{
  font-size: 2rem;
  font-weight: bold;
}
.card-header{
  background-color:#766df4;
  color: #FFF;
}
 
/* call to action */

#cta{
  background: linear-gradient(to right, #766df4 0%, #e66465 100%);
  text-align: center;
  padding: 8% 10%;
  
}
#last-btn{
 margin: 10px;
 font-size: 1.5rem;
}
.appl{
  color: #343a40;
}
#cta h3{
   font-size: 3rem;
   font-weight: 1000;
   color: #fff;
   padding-bottom: 40px;
   line-height: 1.5;
}
/* footer id */
#footer{
  padding: 10% 6%;
  text-align: center;
  font-size: 1.3rem;
  line-height: 2;

}
#footer a{
  font-size: 2rem;
  padding: 20px;
  font-size: 3rem;
}





@media (max-width:1000px){
.input{
  height: 150px;
}
.top-font{
  margin: 5% 10% 3% 2% ;
}
 .nav-link, .dropdown-item{
   font-size: 35px;
 }
 #icon .work{
  font-size: 8rem; 
}
#icon p{
  font-size: 2rem;
}
#icon h3{
  font-size: 3rem;
}
.navbar{
  background-color: #fff;
 }
 .navbar-nav{
   margin-left: 80px;
 }
 .navbar-toggler{
   margin-right: 30px;
 }
 .navbar-toggler-icon{
   font-size: 1.8rem;
 }
 .navbar-brand{
   font-size: 3.5rem;
 }
 .amz-logo{
   width: 80px;
 }
 .form-control {
  font-size: 2rem;
}
#top-btn{
  height: 60px;
  width: 120px;
  font-size: 1.6rem;
}
.carousel-indicators li {
  width: 50px;
  height: 8px;
  margin-right: 8px;
  margin-left: 8px;
}
.txt-btn{
  
  font-size: 1.5rem;
  padding: 15px 25px;

}
.mid-h3{
  font-size: 2.7rem ;
}
.mid-p{
  font-size: 2.5;
}
#footer{
  font-size: 2rem;
padding-bottom: 100px;
}
#footer a{
  font-size: 5.5rem;
  padding: 0 20px;
}
.price-p{
font-size: 1.7rem;
}
.card-body p{
  font-size: 1.5rem;
}
 
}

@media (min-width:1000px) and (max-width:1025px){
  
  #title{
    text-align: left;
  }
  .top-font{
    font-size: 2.6rem;
  }
  .mid-h3{
    font-size: 2rem;
  }
  .font-img{
  height: 280px;
  }
  /* navbar all */
  .navbar-nav{
    margin-left: 20px;
  }
  .nav-link{
    font-size: 1rem;
  }
  .navbar-brand{
    font-size: 2rem;
  }
  .amz-logo{
    width: 50px;
  }
  .nav-item{
    padding: 0;
  }
}