body{ 
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}
h1{
    font-size: 6.75rem;
    font-family: 'Great Vibes', cursive;
    color: #19dafa;
    line-height: 2;
}
hr{
    width: 10%;
    border-style: dotted none none none ;
    border-width: 7px;
    border-color: grey;
    margin:auto;
}
h2, h3{
    color: #19dafa;
    opacity: 0.8;
    font-size: 2rem;
    line-height: 3;
}
.container{
    background: #42455a;
    padding-top: 100px;
   
}
.cloud1{
    position: absolute;
    top: 81px;
    right: 200px;
}
.cloud2{
     position: absolute;
     left: 200px;
     }
     .mountain{
         width: 400px;
         padding-top: 50px;
     }
 /* 2nd part of css */
 .middle-container{
     background: #e5e6d8;
     padding-top: 100px;
     padding-bottom: 100px;
 }
 .profile{
     padding-bottom: 50px;
 }
 .ahmedpic{
     width: 180px;
     border-radius: 100%;
 }
 .skills{
    padding-top: 50px;
}
 .skill-row{
     width: 50%;
     margin: 100px auto 100px auto;
     text-align: left;
     line-height: 2;
 }
 .computer{
    width: 25%;
    float: left;
    margin-right: 20px;
 }
 .chilli{
     width: 25%;
     float: right;
     margin-left: 20px;
 }

.p2{
   clear: right;
}
.contact-me{
    margin-top: 100px;
}
.button{
    padding-top: 30px;
   
}
 .bottom-container{
    background: #42455a;
    padding-top: 50px;
    padding-bottom: 10px;
     
 }
 .footer-link{
  color:#19dafa;
  padding: 0 15px 10px 15px;
  text-decoration: none;

 }
 .footer-link:hover{
     color: #fff;
 }
.last-p{
    color: #fff;
}
p{ 
   font-weight: bold;
   line-height: 2;
}
.relaxed{
    width: 25%;
    margin: auto;
}






.btn {
    background: #6dd8e8;
    background-image: -webkit-linear-gradient(top, #6dd8e8, #d96bed);
    background-image: -moz-linear-gradient(top, #6dd8e8, #d96bed);
    background-image: -ms-linear-gradient(top, #6dd8e8, #d96bed);
    background-image: -o-linear-gradient(top, #6dd8e8, #d96bed);
    background-image: linear-gradient(to bottom, #6dd8e8, #d96bed);
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 14px 24px 14px 24px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #59b0e6;
    background-image: -webkit-linear-gradient(top, #59b0e6, #de33bf);
    background-image: -moz-linear-gradient(top, #59b0e6, #de33bf);
    background-image: -ms-linear-gradient(top, #59b0e6, #de33bf);
    background-image: -o-linear-gradient(top, #59b0e6, #de33bf);
    background-image: linear-gradient(to bottom, #59b0e6, #de33bf);
    text-decoration: none;
  }





  td{
    padding-right: 5px;
    padding-left: 45px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#fff ;
}
td:hover{
    color:#fd00da ;
}
tr{
    text-align: center;
    
}
.signup-btn{
position: absolute;
right: 5px;
top: 10px;
text-decoration: none;
color: #fff;
border: 2px solid transparent;
border-radius: 29px;
background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
background-origin: border-box;
background-clip: content-box,border-box;
}
.signup-btn:hover{
color: #fd00da;
}
.signup-btn span
{
display: block; 
padding: 8px 22px;
}


.top-section{
    background: linear-gradient(to right, #f06fde,#70d8eb);
    position: sticky;
    z-index: 1;
    top: 0;
}








