
#title{
    background-color: #ff4c68;
}
body{
  font-family: 'Montserrat-semi', sans-serif ;
}
h1{
  color: #FFF;
  font-family: 'Montserrat-semi', sans-serif;
  font-size: 4rem;
  padding: 40px 0;
  line-height: 1.5;
  font-weight: bold;
}
.container-fluid{
  padding: 3% 12%;
}
#gplay:hover{
 background: none;
 color: #343a40;;
}
.fa-apple{
  font-size: 25px;
}
#apple{
  margin-left: 10px;
}
.navbar{
  padding-bottom: 50px;
  color: #fff;
}
.navbar-brand{
font-size: 4rem;
font-family: 'Luckiest Guy', cursive;
text-shadow: 0 0 5px #000;

}
.nav-item{
  padding:0 20px 0 20px;
}
.mobile{
 width: 60%;
 transform: rotate(30deg);
 margin-top: 30px;
}
.navbar-toggler-icon{
  font-size: 4vw;
}
.nav-link{
  font-size: 170%;
}
#apple,#gplay{
  font-size: 25px;
}
.dropdown-item{
  font-size: 130%;

}

     /* middle container */
     
#features{
 margin: 10% 10%;
}

.fas{
  font-size: 5rem;
  color: #ef8172;
}
.fas:hover{
  color: #ff4c68;
}
#icon{
  text-align: center;
   padding: 25px 0;
}
#icon h3{
 font-weight: 800;
}
#icon p{
width: 70%;
margin: auto;
color: #8f8f8f;
}

/* testimonial*/

#testimonials{
  background: #ff4c68;
  text-align: center;
  padding: 8% 0 4%;
  color: #fff;
 
}
.dogg{
 width: 12%;
 border-radius: 100%;
 padding: 15px;
}
.top-part h2{
  font-size: 3rem;
  padding:0 15% ;
  line-height: 1.5;
  font-weight: bold;
  text-shadow: 0 0 4px black;
}
.press{
  margin-top: 5%;
}
.company{
  width: 17%;
  padding: 0 20px;
  margin: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
}

      /* pricing */


#pricing{
  padding: 7% 7%;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: #8f8f8f;
}
.pric-card{
  padding-top: 40px;
 
}
.card{
  width: 90%;
  margin: auto;
}
#pricing h2{
  font-size: 3rem;
  font-weight: bold;
  color: #343a40;
}
#pricing h3{
  font-size: 2rem;
  font-weight: bold;
}
.card-header{
  background-color:#8f8f8f;
  color: #FFF;
}